<script type='text/javascript' src='./webcam.js'></script>

<div class="plasters" id="button">
    <h1>Тычь в экран!</h1>
    <div class="plaster">
        <div id="allow">Разрешите использовать камеру ( Сверху текущей страницы )</div>
        <video id="video"  width="1024" height="768" autoplay="autoplay" ></video>
    </div>
    <div class="plaster">
        <img src="./masks/pokemask.png"/>
    </div>
    <div class="plaster">
        <canvas id="canvas" width="1024" height="768"></canvas>
    </div>
</div>